
/* Menu Item and Logo Styling */
.logo {
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: auto;
  height: auto;
  max-width: 100%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16);
}

.menu {
  vertical-align: middle;
  height: 100px;
  line-height: 100px;
}

.header {
  background: #BDBDBD;
  border: 10px solid #BDBDBD;
  display: block;
  box-shadow: 0 5px 5px 1px #E0E0E0;
}

.bottom {
  padding: 20px;
}

.gallery {
  height: 100%;
  width: 100%;
}

.menu-item {
  color: #616161;
  line-height: 90px;
}

.menu-text {
  color: #616161;
  font-size: 40px;
  font-family: orange-juice;
  width: auto;
}

.menu-text:hover {
  text-decoration: none;
  color: #6A1B9A;
}

.home {

}

.listings {

}

.beta {

}

.profile {

}

/* Body Styling */
.container-fluid {
  padding: 0;
}

.lower-container {
  padding: 20px;
}

/* Other Styles */
@font-face {
  font-family: 'orange-juice';
  src: url('../fonts/orange-juice.ttf') format('truetype');
}

/* Cards */
.card-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.listing {
  width: 400px;
}


/* Owl Gallery */
#owl-gallery {
  display: block;
  margin: auto;
  margin-top: 40px;
  height: 90vh;
  width: auto;
  max-width: 1500px;
}

.owl-item {
  min-width: 500px;
  position: relative;
}

.owl-wrapper-outer {
  box-shadow: grey 0px 5px 10px 0px;
}


/* Image Classes */
.owl-image {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: auto;
  width: 100%;
  max-width: 1500px;
  max-height: 1000px;
}
