
/* Menu Item and Logo Styling */
.logo {
  width: 200px;
  height: 200px;
}

.menu {
  margin-top: 40px;
  text-align: center;
}

.header {
  background: #BDBDBD;
}

a {
  color: black;
}

.h2 {
  color:
}

.home {

}

.listings {

}

.beta {

}

.profile {

}

/* Body Styling */


/* Other Styles */
